* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'lato' , 'arial' , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom:1}

.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}
h1{
    margin: 0;
    color: #fff;
    font-size: 220%;
    font-weight: 300;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    margin-bottom: 20px;

}

header {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6))  , url('./img/hero.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}

.btn:link,
.btn:visited {
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    padding: 10px 30px;
    transition: background-color 0.8s , border 0.8s , color 0.8s;

}

.btn-full:link ,
.btn-visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 20px;
}

.btn-ghost:link ,
.btn-visited {
    border: 1px solid #e67e22;
    color:#e67e22;;
}

.btn-full:hover ,
.btn-active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;

}

.btn-ghost:hover ,
.btn-ghost:active {
    background-color:#cf6d17 ;
    border: 1px solid #cf6d17;
    color:#fff;;

}

.logo {
    height: 100px;
    width: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 80px;

}

.main-nav {
    float: right;
    list-style: none;
    margin-top:50px;
    margin-right: 80px;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
   
}

.main-nav li a:link ,
.main-nav li a:visited{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    padding: 8px 0;
    font-size: 90%;
    transition: border-bottom 0.4s;

}

.main-nav li a:hover ,
.main-nav li a:active {
    border-bottom: 1px solid #e67e22 ;

}

section {
    padding: 80px 0;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after {
    display: block;
    height: 2px;
    background-color:#e67e22 ;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;

}

.long-copy {

    margin-left: 15%;
    width: 70%;
    line-height: 140%;
}

.box {
    padding: 1%;
}

h3 {
    font-weight: 300;
    font-size: 110%;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.box p {

    font-size: 90%;
    line-height: 145%;
}

.icon-big {
    font-size: 400%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.meals-showcase {
    width: 100%;
    list-style: none;
}

.meals-showcase li {
    display:block;
    float:left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    background-color: black;
    overflow: hidden;
}
.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s , opacity 0.5s;
    opacity: 0.7;
}
.meal-photo img:hover {
 
    transform: scale(1.03);
    opacity: 1;
}


.section-meals {
    padding: 0;
   
}


.steps-box:first-child{
    text-align: right;
    padding-right: 4%;
    margin-top: 30px;

}

.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
  
}

.app-screen {
    width: 40%;
}

.works-step {
 margin-bottom: 50px;
}

.works-step div {
    color: #e67e22;
    border: 1px solid #e67e22;
    border-radius: 50%;
    display:block;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    padding: 5px;
    font-size: 150%;
    margin-right: 50px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;

}

.works-step:nth-last-of-type() {

    margin-bottom: 80px;
}



.section-steps {
    background-color: #ecf2f5;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.icon-small {
    display: inline-block;
    text-align: center;
    width: 30px;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}

a:link ,
a:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.8s , color 0.8s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;

}


